{% if not context.lp_active_blocks %}
<div class="col-xs">
{% endif %}
    {# {{ dump(context.user) }} #}

    <div class="lp_frontpage_articles article_custom">
        {{ show_pagination() }}

        {% for article in context.lp_frontpage_articles %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-{{ context.lp_frontpage_num_columns }} col-xl-{{ context.lp_frontpage_num_columns }}">
            <figure class="noticebox">{{ debug(article) }}</figure>
        </div>
        {% endfor %}

        {{ show_pagination('bottom') }}
    </div>

{% if not context.lp_active_blocks %}
</div>
{% endif %}